/.CFUserTextEncoding
/.DS_Store
/.Trash
/.claude
/.claude.json
/.claude.json.backup
/.cups
/.cursor
/.npm
/.nvm
/.ollama
/.ssh
/.zsh_history
/.zsh_sessions
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Postman
/Public
/Untitled-1
/category-diffusion
/ssh
/ssh.pub